<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Book List</title>
        <!-- jQuery, etc. -->
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
        <!-- Include our booklist JavaScript -->
        <script src="/js/booklist.js"></script>
        <link rel="stylesheet" th:href="@{/css/booklist.css}" />
        <link rel="stylesheet" th:href="@{/css/header.css}" />
    </head>
    <body>
        <header th:insert="header :: header"></header>

        <!-- Main container: used to center content & add side margins -->
        <div class="main-container">

            <!-- Book grid container -->
            <div id="books-grid"></div>

            <!-- Pagination controls -->
            <div id="pagination-controls">
                <button id="prev-page">Previous</button>
                <span id="page-info"></span>
                <button id="next-page">Next</button>
            </div>

        </div>

    </body>
</html>
