<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <title>Book Reader</title>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <script src="/js/toc.js"></script>
    <script src="/js/dictionary.js"></script>
    <script src="/js/reader.js"></script>

    <link rel="stylesheet" th:href="@{/css/style.css}" />

  </head>
  <body>

    <!-- Left navbar for Table of Contents -->
    <div id="toc-container">
      <!-- Populated by JS -->
    </div>

    <!-- A "wrapper" div to center the main reading area -->
    <div id="center-wrapper">
      <div id="reader-container">
        <div id="chapter-content">
          <!-- AJAX-loaded text goes here -->
        </div>
      </div>
    </div>

    <!-- Right navbar for future translation / dictionary features -->
    <div id="translation-container">
      <!-- We'll populate this in the future -->
    </div>

  </body>
</html>
